
//
// Listagem de im�veis
//

.list-imoveis {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.list-imoveis-item {
  margin-bottom: 60px;
}


// Link

.list-imoveis-link {
  background-color: #B7DCA0;
  border: 2px solid transparent;
  border-radius: 6px;
  color: #152D65;
  display: block;
  padding: 7px;
  transition: all 150ms ease 0s;
  min-height: 465px;

  &:hover {
    border-color: #12b1d6;
    text-decoration: none;
  }

  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  transition: 150ms;
}


// Imagem

.list-imoveis-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 155px;
  width: 100%;
}

// Informa��es

.list-imoveis-data {
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  padding: 7px;

  i {
    font-size: 2.2rem;
    margin-right: 5px;
    vertical-align: sub;
  }

  span {
    line-height: 2.5;
  }
}

// Pre�o

.list-imoveis-price {
  padding-right: 33px;
  bottom: 0;
  margin-bottom: 0;
  position: absolute;
  width: 83%;
}

.txt-price {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1;
  width: 121%;
  background-color: rgb(21, 45, 101);
  padding: 0.6em;
  color: #FFF;
  border-radius: 4px;
  margin-bottom: -20px;
  box-shadow: 1px 1px 1px 1px #999;
}

.plus {
  background: rgb(17,37,83);
  background: -moz-linear-gradient(top,  #2F7C3F 0%, #B7DCA0 100%);
  background: -webkit-linear-gradient(top,  #2F7C3F 0%,#B7DCA0 100%);
  background: linear-gradient(to bottom,  #2F7C3F 0%, #B7DCA0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2F7C3F', endColorstr='#B7DCA0',GradientType=0 );
  border-radius: 3px;
  color: #FFF;
  font-family: Arial,sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  right: 0px;
  position: absolute;
  top: 40%;
  text-align: center;
  height: 25px;
  width: 35px;
}


//
// Im�veis semelhantes
//

.list-semelhantes {
  padding: 0;

  .list-imoveis-img {
    border-radius: 9px;
    text-align: center;
    font-size: 5rem;
    height: 174px;
    overflow: hidden;

    span {
      background-color: rgba(0, 0, 0, .5);
      display: block;
      height: 100%;
      width: 100%;
      opacity: 0;
    }

    i {
      color: #fff;
      display: inline-block;
      margin-top: 62px;
    }
  }
}

.semelhantes-item {
  margin-bottom: 20px;
}

.semelhantes-link {
  background-color: $blue;
  border-radius: 9px;
  color: #fff;
  display: block;
  overflow: hidden;
  
  p {
    margin: 0;
    font-size: 1.6rem;;
  }

  h3 {
    margin: 8px 0;
    font-weight: normal;
    font-size: 2.4rem;
  }

  .list-imoveis-data {
    font-family: $font-family-base;
    padding: 10px;
  }

  &:hover {
    background-color: $green;
    color: $blue;
    text-decoration: none;

    .list-imoveis-img span {
      opacity: 1;
    }
  }
}


//
// Parceiros
//

.list-parceiros {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;

  li {
    list-style: none;
    margin-bottom: 20px;
  }

  a {
    background-color: #eee;
    border-radius: 10px;
    display: block;
    height: 140px;
    padding: 10px;
    text-align: center;
  }

  img {
    display: inline-block;
    max-height: 100%;
    @include vertical-align();
  }
}

.paginacao {
  width: 100%;
  margin-bottom: 80px;
  text-align: center;
}

.paginacao-item {
  display: inline-block;
}

.paginacao-item a {
  background-color: #152D65;
  border-bottom: 4px solid #B7DCA0;
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  padding: 13px;
  margin: 0px 3px;
}